<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" text="type/css" href="stylesheets/default.css">
<link href='https://fonts.googleapis.com/css?family=Chelsea+Market' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
<title>
  Tea Page
</title>
</head>
<body>
<header>
  <h1>Take this quiz to find your match-a tea made in heaven!</h1>
  <form>
    <div id="questionone">
    Where would you take your dream vacation?
    <input type="radio" value="India">India</option>
    <input type="radio" value="Japan">Japan</option>
     <input type="radio" value="London">London</option>
     <input type="radio" value="France">France</option>
     <input type="radio" value="Morocco">Morocco</option>
     <input type="radio" value="Australia">Australia</option>
   </div>

     <div id="questiontwo">
    It's 10:00 on Friday night, what are you doing?
    <input type="radio" value="India">Shaking my groove thang with my friends</option>
    <input type="radio" value="Japan">Watching a documentary on GMOs</option>
     <input type="radio" value="London">Just starting the last chapter of a frankly fantastic novel</option>
     <input type="radio" value="France">30,000 feet above the Atlantic Ocean in a plane.</option>
     <input type="radio" value="Morocco">Cleaning my cat's litterbox</option>
     <input type="radio" value="Australia">Just getting home from work.</option>
   </div>

    <div id="questionthree">
    The most important person in my life is...
    <input type="radio" value="India">Sartres, Molière, and Débussy..wait I have to pick just one?</option>
    <input type="radio" value="Japan">My best friend from elementary school</option>
     <input type="radio" value="London">My cat</option>
     <input type="radio" value="France">My mom/dad</option>
     <input type="radio" value="Morocco">Myself, obviously</option>
     <input type="radio" value="Australia">My boss</option>
</div>

    <div id="questionfour">
    Stomach's grumbling! The first thing I reach for is...
    <input type="radio" value="India">Berries</option>
    <input type="radio" value="Japan">Chocolate chip cookies</option>
     <input type="radio" value="London">Doritos</option>
     <input type="radio" value="France">A very stinky cheese</option>
     <input type="radio" value="Morocco">Hummus and veggies</option>
     <input type="radio" value="Australia">Yogurt</option>
</div>

  <div id="questionfour">
    A challenge I might enjoy is...
    <input type="radio" value="India">Hiking up a mountain and reveling in the view at the top.</option>
    <input type="radio" value="Japan">Finishing Finnegan's Wake</option>
     <input type="radio" value="London">Helping others in a less fortunate situation than me.</option>
     <input type="radio" value="France">Surfing 5 foot faces at 5 in the morning.</option>
     <input type="radio" value="Morocco">Learning a new language</option>
     <input type="radio" value="Australia">Waking up before 11:00 a.m. on the weekend.</option>
</div>


</body>
</html>