<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../stylesheets/coffee.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/defaultcss">
	<link href='https://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	<title> Coffee landing page</title>
</head>

<body>
	<nav>
		<ul>
			<li>back</li>
			<li>take the quiz</li>
			<li>learn more</li>
			<li>contact</li>

		</ul>

	</nav>
	<header>
		<h1>Coffee</h1>
		<h2>Smooth, strong, and puttin' a little spring in your step!</h2>
	</header>

	<aside>
		<section>
			<h3> All about coffee</h3>
			<p>here are some really fun facts about coffee!</p>
			<p> Coffee is brown, coffee is bitter, coffee wakes you up, coffee can be hot or cold, you can buy it in a lot of places, it is really good morning noon and night, lah dee dah dee dah dee dah.</p>


			

		</section>
	</aside>
<main>
<section id="locations">
	<p>Map API will go here</p>

</section>

<section id="purchase">
<p>Amazon API will go here</p>
	</section>
</main>
	</body>

	</html>